__pycache__/
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
htmlcov/
.tox/
.nox/
.coverage
.cache
.hypothesis/
.pytest_cache/
instance/
.webassets-cache
.scrapy
docs/_build/
target/
.ipynb_checkpoints
profile_default/
.python-version
__pypackages__/
celerybeat-schedule
celerybeat.pid
.spyderproject
.spyproject
.ropeproject
/site
.mypy_cache/
.pyre/
.ruff_cache
*.min.*